<div class="dashboard-container">
  <app-navigation></app-navigation>

  <div class="company-logo-container">
    <div class="company-logo-parent">
      <img src="/assets/nvidia_logo_horizontal.png" />
    </div>
  </div>

  <div class="activity-container">
    <h3>Activity Monitor</h3>
    <span class="activity-monitor-range">Today</span>
    <div class="activity-list-container">
      <div class="activity-item-container" *ngFor="let activity of activites">
        <div style="display: inline-block;"><img src="/assets/{{activity.username}}.png" /> </div>
        <div style="display: inline-block;vertical-align: top;">
          {{activity.username}} <br/>
          <span class="info-label"><i>Workout time:</i> {{activity.time}} </span> <br/>
          <span class="info-label"><i>Points:</i> {{activity.points}}</span>
        </div>

      </div>
    </div>
  </div>

</div>